.my_header,.my_footer{
    width:100%;
}
/*����Ļ��iframe�ĸ�*/
@media (min-width:992px) {
    .my_header{height:7rem;}
    .my_footer{height:15rem;}
}
/*��С����iframe��*/
@media (max-width:991px) and (min-width:576px) {
    .my_header{height:20rem;}
    .my_footer{height:23rem;}
}
/*�����ֲ�ͼ��ͷ��ʽ*/
.carousel-control-prev,
.carousel-control-next{
    width:4% !important; 
    height:20% !important;
    background-color:rgba(0,0,0,0.3);
    border-radius:0.25rem;
    top:40% !important;
}
/*�ֲ�ָʾ����ʽ*/
.carousel-indicators li{
    width:0.75rem;height:0.75rem;
    border-radius:50%;
    background: #fff;
    margin-right:6px;
    margin-left:6px;
}
.carousel-indicators .active {
    background-color: #0aa1ed;
}
/*��Ʒչʾ����ʽ*/
.product>img{
    position:relative;
}
.product>img:hover{
    cursor:pointer;
}
.product>.details{
    position:absolute;
    width:75%;
    left:12%;bottom:-10px;
    font-size:16px;
}
.product:hover{
    cursor:pointer;
    transition:1s;
    transform:scale(1.1);
}
/*������Ѷ*/

.bg_color{background: #F8F4F1;}
.xwzx_img_height{
    height:260px;
}
.xwzx_img_height:hover{
    cursor:pointer;
    transition:1s;
    transform:scale(1.1);
}

.form-control{
    width:260px;height:60px;
    background:#fbfbfb;
    padding:5px;
}

/*���ض�����ť��ʽ*/
#toTop{
    position:fixed;
    bottom:240px;
    right:-100px;
    /* display:none; */
    width:100px;
    opacity:0;
    overflow:hidden;
    transition:all .5s linear;
}
#toTop.show{
    right:0px;
    opacity:1;
}

